<div class="login-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form class="login-form" [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>

                <mat-form-field>
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
            <button mat-raised-button (click)="goToRegister()">DO NOT HAVE ACCOUNT?</button>
        </mat-card-actions>
    </mat-card>
</div>