<div class="component-container">
    <form class="create-program-form" [formGroup]="programCreateForm">
        <h4>Create new Program</h4>

        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="createProgram()">Create</button>
    </form>
</div>
