<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ program.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
            {{ program.description }}
    </mat-card-content>

    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>