<div class="register-container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form class="register-form" [formGroup]="registerForm" (submit)="register()">
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="Email"
                           [formControl]="registerForm.get('email')" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" formControlName="password" matInput placeholder="Password">
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                        Password should contain at least <strong>six</strong> characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" formControlName="password_confirmation" matInput
                           placeholder="Password confirmation">
                    <mat-error *ngIf="registerForm.get('password_confirmation').hasError('matchPassword')">
                        Passwords entered <strong>are not equal</strong>
                    </mat-error>
                </mat-form-field>

                <mat-radio-group formControlName="role">
                    <mat-radio-button value="trainee">Trainee</mat-radio-button>
                    <mat-radio-button value="trainer">Trainer</mat-radio-button>
                </mat-radio-group>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="register()">REGISTER
            </button>
            <button mat-raised-button (click)="goToLogin()">ALREADY HAVE ACCOUNT?</button>
        </mat-card-actions>
    </mat-card>
</div>