<div class="component-container">
    <button mat-raised-button color="accent" (click)="createProgram()">Create</button>

    <app-program-item [program]="program" *ngFor="let program of programs$ | async"></app-program-item>
</div>

