<mat-toolbar color="primary">
    <mat-toolbar-row>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <!--<button mat-menu-item routerLink="./trainings/list">-->
                <!--<mat-icon>dialpad</mat-icon>-->
                <!--<span>Trainings</span>-->
            <!--</button>-->

            <button mat-menu-item routerLink="./trainings/programs/list">
                <mat-icon>dashboard</mat-icon>
                <span>Programs</span>
            </button>

            <button mat-menu-item routerLink="./auth/welcome">
                <mat-icon>voicemail</mat-icon>
                <span>Welcome</span>
            </button>
        </mat-menu>

        <!--<mat-icon *ngIf="appIsBusy$ | async" class="blinked">autorenew</mat-icon>-->

        <span class="spacer-to-right"></span>

        {{ (authUser$ | async)?.email }}

        <button class="authed-menu" *ngIf="isAuthenticated$ | async" mat-icon-button mat-mini-fab color="warn"
                [matMenuTriggerFor]="authedMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #authedMenu="matMenu">
            <button mat-menu-item disabled>
                <mat-icon>build</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>directions_run</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>