<div class="app-container">
    <app-menu></app-menu>

    <div class="app-inner-container">
        <router-outlet></router-outlet>
    </div>

    <app-errors-container></app-errors-container>
</div>