<div class="welcome-container">
    <h2 class="welcome-text">Hello, {{ (auth$ | async)?.user }}! Welcome to</h2>
    <h3 class="welcome-text">Personal Trainer</h3>

    <div class="buttons-row">
        <button (click)="login()" mat-raised-button color="accent">Register</button>
        <button (click)="logout()" mat-raised-button color="primary">Login</button>
    </div>
</div>
