.welcome-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.welcome-text {
  text-align: center;
  //padding-bottom: 40%;
}

.buttons-row {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 4px;
  }
}