<div class="errors-container" *ngIf="(errors$ | async)?.length > 0">
  <mat-card>
    <mat-card-content>
      <ul>
        <li *ngFor="let error of (errors$ | async)">{{ error.message }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="ackErrors()">Hide</button>
      <button mat-button>Report bug</button>
    </mat-card-actions>
  </mat-card>
</div>

